@import '~bootstrap/scss/bootstrap';

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.onda-container {
    background-color : #eaeaea;
    
    .onda-header {
        outline: 5px solid red;
        display: flex;
        
        .logo-onda, .infos-salma, .logo-ensem {
            flex: 1;
            outine: 2px solid green;
        }
        
        img {
            max-width : 100%;
        }
    }
}
